Package: iceclient
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: openjdk-7-jre-lib | openjdk-7-jdk | oracle-java7-install | default-jre
Maintainer: Emerald Icemoon <emerald.icemoon@gmail.com>
Description: Planet Forever Client
Distribution: development